<%- include("../partials/header.ejs") %>
<div class="container">
<h2>Stories</h2>
<div class="row">
    <%
    if (stories)
    {%>
        <%
            stories.forEach(story => {%> 
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <!-- {to-do edit icon} -->
                    </div>
                    <div class="card-content center-align">
                        <h5><%=story.title%> </h5>
                        <p><%=story.body%></p>
                        <br>
                        <div class="chip">
                            <img src="<%=story.user.image%>" alt="">
                            <a href="/stories/user/<%=story.user._id%>"> <%=story.user.displayName %> </a>
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <a href="/stories/<%=story._id%>" class="btn gray">Read More</a>
                    </div>
                </div>
            </div>
            <%})
        %>
    <%}
    else
    {%>

    <%}
    %>
</div>
</div>